.h1 {
  font-family: Helvetica, Arial, sans-serif;
}

.h2 {
  font-family: Helvetica, Arial, sans-serif;
}

.p1 {
  font-family: Helvetica, Arial, sans-serif;
}

.p2 {
  font-family: Helvetica, Arial, sans-serif;
}

.p3 {
  font-family: Helvetica, Arial, sans-serif;
}
